{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout?</a>
        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
            {% csrf_token %}
        </form>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
